header {
    height: 90px;
}

.div-logo {
    margin-top: 20px;
    margin-left: 40px;
}

.div-logo > img {
    width: 100px;
}

nav {
    width: 76%;
    margin-top: 46px;
}


.link {
    font-size: 1.1em;
    padding: 5px 15px;
}

/* Projetos */

.sec-pro {
    margin-top: 60px;
}

.h2-p {
    font-size: 2rem;
    text-align: start;
}

.new-car {
    margin-top: 20px;
}

div.title {
    width: 97%;
}

div.title > .div-sega-1 {
    width: calc(100% - 144px);
    height: 13px;
}

div.title > .div-sega-2 {
    width: calc(100% - 157px);
    height: 13px;
}

div.title > h3 {
    margin-right: 7px;
    font-size: 1rem;
}

.row-gap-1 {
    width: 98%;
    margin: auto;
}

.row-gap-1 > img {
    width: 49%;
}

.old-car {
    margin-top: 30px;
}

.row-gap-2 {
    width: 98%;
    margin: auto;
}

.row-gap-2 > img {
    width: 49%;
}

.avaliacao {
    height: 500px;
}

.avaliacao > h2 {
    font-size: 2rem;
}

.carroc {
    max-width: 560px;
    margin-top: 10px;
}

.slid-int {
    display: block;
    max-width: 460px;
}

.foto-txt {
    margin-top: 5px;
    height: 170px;
}

.perfil-fo > img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.txt > .nome {
    font-size: .7rem;
}

.txt > .txt-p {
    font-size: 1em;
    height: 146px;
    width: calc(100% - 10px);
}

.foto-term > img {
    max-width: 460px;
}

/* contato */

.form-2 {
    display: none;
}

.infor {
    height: 400px;
}

.locali {
    width: 80%;
}